## Project 2 Dataset 3

In [1]:
#import numpy and pandas, and DataFrame / Series
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import datetime

In [2]:
#Read data from file 'titanic3.csv' 
data = pd.read_csv("C:/Users/KATERINE/Documents/cuny classes/DATA ACQ AND MANAGEM/week 6/titanic3.csv", encoding='latin-1')
df = pd.DataFrame(data, columns= ['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'])
print (df)

      pclass  survived                                               name  \
0        1.0       1.0                      Allen, Miss. Elisabeth Walton
1        1.0       1.0                     Allison, Master. Hudson Trevor
2        1.0       0.0                       Allison, Miss. Helen Loraine
3        1.0       0.0               Allison, Mr. Hudson Joshua Creighton
4        1.0       0.0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5        1.0       1.0                                Anderson, Mr. Harry
6        1.0       1.0                  Andrews, Miss. Kornelia Theodosia
7        1.0       0.0                             Andrews, Mr. Thomas Jr
8        1.0       1.0      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9        1.0       0.0                            Artagaveytia, Mr. Ramon
10       1.0       0.0                             Astor, Col. John Jacob
11       1.0       1.0  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12       1.0       1.0                      Aubart, Mme. Leontine Pauline
13       1.0       1.0                       Barber, Miss. Ellen "Nellie"
14       1.0       1.0               Barkworth, Mr. Algernon Henry Wilson
15       1.0       0.0                                Baumann, Mr. John D
16       1.0       0.0                           Baxter, Mr. Quigg Edmond
17       1.0       1.0    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18       1.0       1.0                              Bazzani, Miss. Albina
19       1.0       0.0                               Beattie, Mr. Thomson
20       1.0       1.0                      Beckwith, Mr. Richard Leonard
21       1.0       1.0   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22       1.0       1.0                              Behr, Mr. Karl Howell
23       1.0       1.0                              Bidois, Miss. Rosalie
24       1.0       1.0                                  Bird, Miss. Ellen
25       1.0       0.0                                Birnbaum, Mr. Jakob
26       1.0       1.0                            Bishop, Mr. Dickinson H
27       1.0       1.0            Bishop, Mrs. Dickinson H (Helen Walton)
28       1.0       1.0                             Bissette, Miss. Amelia
29       1.0       1.0          Bjornstrom-Steffansson, Mr. Mauritz Hakan
...      ...       ...                                                ...
1280     3.0       0.0                                    Vovk, Mr. Janko
1281     3.0       0.0                               Waelens, Mr. Achille
1282     3.0       0.0                                Ware, Mr. Frederick
1283     3.0       0.0                        Warren, Mr. Charles William
1284     3.0       0.0                                  Webber, Mr. James
1285     3.0       0.0                                Wenzel, Mr. Linhart
1286     3.0       1.0    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287     3.0       0.0                   Widegren, Mr. Carl/Charles Peter
1288     3.0       0.0                          Wiklund, Mr. Jakob Alfred
1289     3.0       0.0                            Wiklund, Mr. Karl Johan
1290     3.0       1.0                   Wilkes, Mrs. James (Ellen Needs)
1291     3.0       0.0                   Willer, Mr. Aaron ("Abi Weller")
1292     3.0       0.0                                 Willey, Mr. Edward
1293     3.0       0.0                  Williams, Mr. Howard Hugh "Harry"
1294     3.0       0.0                               Williams, Mr. Leslie
1295     3.0       0.0                                Windelov, Mr. Einar
1296     3.0       0.0                                   Wirz, Mr. Albert
1297     3.0       0.0                             Wiseman, Mr. Phillippe
1298     3.0       0.0                          Wittevrongel, Mr. Camille
1299     3.0       0.0                                Yasbeck, Mr. Antoni
1300     3.0       1.0            Yasbeck, Mrs. Antoni (Selini Alexander)
1301     3.0       0.0                               Youseff, Mr. Gerious
1302     3.0       0.0                                  Yousif, Mr. Wazli
1303     3.0       0.0                              Yousseff, Mr. Gerious
1304     3.0       0.0                               Zabour, Miss. Hileni
1305     3.0       0.0                              Zabour, Miss. Thamine
1306     3.0       0.0                          Zakarian, Mr. Mapriededer
1307     3.0       0.0                                Zakarian, Mr. Ortin
1308     3.0       0.0                                 Zimmerman, Mr. Leo
1309     NaN       NaN                                                NaN

         sex      age  sibsp  parch            ticket      fare    cabin  \
0     female  29.0000    0.0    0.0             24160  211.3375       B5
1       male   0.9167    1.0    2.0            113781  151.5500  C22 C26
2     female   2.0000    1.0    2.0            113781  151.5500  C22 C26
3       male  30.0000    1.0    2.0            113781  151.5500  C22 C26
4     female  25.0000    1.0    2.0            113781  151.5500  C22 C26
5       male  48.0000    0.0    0.0             19952   26.5500      E12
6     female  63.0000    1.0    0.0             13502   77.9583       D7
7       male  39.0000    0.0    0.0            112050    0.0000      A36
8     female  53.0000    2.0    0.0             11769   51.4792     C101
9       male  71.0000    0.0    0.0          PC 17609   49.5042      NaN
10      male  47.0000    1.0    0.0          PC 17757  227.5250  C62 C64
11    female  18.0000    1.0    0.0          PC 17757  227.5250  C62 C64
12    female  24.0000    0.0    0.0          PC 17477   69.3000      B35
13    female  26.0000    0.0    0.0             19877   78.8500      NaN
14      male  80.0000    0.0    0.0             27042   30.0000      A23
15      male      NaN    0.0    0.0          PC 17318   25.9250      NaN
16      male  24.0000    0.0    1.0          PC 17558  247.5208  B58 B60
17    female  50.0000    0.0    1.0          PC 17558  247.5208  B58 B60
18    female  32.0000    0.0    0.0             11813   76.2917      D15
19      male  36.0000    0.0    0.0             13050   75.2417       C6
20      male  37.0000    1.0    1.0             11751   52.5542      D35
21    female  47.0000    1.0    1.0             11751   52.5542      D35
22      male  26.0000    0.0    0.0            111369   30.0000     C148
23    female  42.0000    0.0    0.0          PC 17757  227.5250      NaN
24    female  29.0000    0.0    0.0          PC 17483  221.7792      C97
25      male  25.0000    0.0    0.0             13905   26.0000      NaN
26      male  25.0000    1.0    0.0             11967   91.0792      B49
27    female  19.0000    1.0    0.0             11967   91.0792      B49
28    female  35.0000    0.0    0.0          PC 17760  135.6333      C99
29      male  28.0000    0.0    0.0            110564   26.5500      C52
...      ...      ...    ...    ...               ...       ...      ...
1280    male  22.0000    0.0    0.0            349252    7.8958      NaN
1281    male  22.0000    0.0    0.0            345767    9.0000      NaN
1282    male      NaN    0.0    0.0            359309    8.0500      NaN
1283    male      NaN    0.0    0.0        C.A. 49867    7.5500      NaN
1284    male      NaN    0.0    0.0  SOTON/OQ 3101316    8.0500      NaN
1285    male  32.5000    0.0    0.0            345775    9.5000      NaN
1286  female  38.0000    0.0    0.0              2688    7.2292      NaN
1287    male  51.0000    0.0    0.0            347064    7.7500      NaN
1288    male  18.0000    1.0    0.0           3101267    6.4958      NaN
1289    male  21.0000    1.0    0.0           3101266    6.4958      NaN
1290  female  47.0000    1.0    0.0            363272    7.0000      NaN
1291    male      NaN    0.0    0.0              3410    8.7125      NaN
1292    male      NaN    0.0    0.0     S.O./P.P. 751    7.5500      NaN
1293    male      NaN    0.0    0.0          A/5 2466    8.0500      NaN
1294    male  28.5000    0.0    0.0             54636   16.1000      NaN
1295    male  21.0000    0.0    0.0  SOTON/OQ 3101317    7.2500      NaN
1296    male  27.0000    0.0    0.0            315154    8.6625      NaN
1297    male      NaN    0.0    0.0        A/4. 34244    7.2500      NaN
1298    male  36.0000    0.0    0.0            345771    9.5000      NaN
1299    male  27.0000    1.0    0.0              2659   14.4542      NaN
1300  female  15.0000    1.0    0.0              2659   14.4542      NaN
1301    male  45.5000    0.0    0.0              2628    7.2250      NaN
1302    male      NaN    0.0    0.0              2647    7.2250      NaN
1303    male      NaN    0.0    0.0              2627   14.4583      NaN
1304  female  14.5000    1.0    0.0              2665   14.4542      NaN
1305  female      NaN    1.0    0.0              2665   14.4542      NaN
1306    male  26.5000    0.0    0.0              2656    7.2250      NaN
1307    male  27.0000    0.0    0.0              2670    7.2250      NaN
1308    male  29.0000    0.0    0.0            315082    7.8750      NaN
1309     NaN      NaN    NaN    NaN               NaN       NaN      NaN

     embarked boat   body                           home.dest
0           S    2    NaN                        St Louis, MO
1           S   11    NaN     Montreal, PQ / Chesterville, ON
2           S  NaN    NaN     Montreal, PQ / Chesterville, ON
3           S  NaN  135.0     Montreal, PQ / Chesterville, ON
4           S  NaN    NaN     Montreal, PQ / Chesterville, ON
5           S    3    NaN                        New York, NY
6           S   10    NaN                          Hudson, NY
7           S  NaN    NaN                         Belfast, NI
8           S    D    NaN                 Bayside, Queens, NY
9           C  NaN   22.0                 Montevideo, Uruguay
10          C  NaN  124.0                        New York, NY
11          C    4    NaN                        New York, NY
12          C    9    NaN                       Paris, France
13          S    6    NaN                                 NaN
14          S    B    NaN                       Hessle, Yorks
15          S  NaN    NaN                        New York, NY
16          C  NaN    NaN                        Montreal, PQ
17          C    6    NaN                        Montreal, PQ
18          C    8    NaN                                 NaN
19          C    A    NaN                        Winnipeg, MN
20          S    5    NaN                        New York, NY
21          S    5    NaN                        New York, NY
22          C    5    NaN                        New York, NY
23          C    4    NaN                                 NaN
24          S    8    NaN                                 NaN
25          C  NaN  148.0                   San Francisco, CA
26          C    7    NaN                        Dowagiac, MI
27          C    7    NaN                        Dowagiac, MI
28          S    8    NaN                                 NaN
29          S    D    NaN  Stockholm, Sweden / Washington, DC
...       ...  ...    ...                                 ...
1280        S  NaN    NaN                                 NaN
1281        S  NaN    NaN      Antwerp, Belgium / Stanton, OH
1282        S  NaN    NaN                                 NaN
1283        S  NaN    NaN                                 NaN
1284        S  NaN    NaN                                 NaN
1285        S  NaN  298.0                                 NaN
1286        C    C    NaN                                 NaN
1287        S  NaN    NaN                                 NaN
1288        S  NaN  314.0                                 NaN
1289        S  NaN    NaN                                 NaN
1290        S  NaN    NaN                                 NaN
1291        S  NaN    NaN                                 NaN
1292        S  NaN    NaN                                 NaN
1293        S  NaN    NaN                                 NaN
1294        S  NaN   14.0                                 NaN
1295        S  NaN    NaN                                 NaN
1296        S  NaN  131.0                                 NaN
1297        S  NaN    NaN                                 NaN
1298        S  NaN    NaN                                 NaN
1299        C    C    NaN                                 NaN
1300        C  NaN    NaN                                 NaN
1301        C  NaN  312.0                                 NaN
1302        C  NaN    NaN                                 NaN
1303        C  NaN    NaN                                 NaN
1304        C  NaN  328.0                                 NaN
1305        C  NaN    NaN                                 NaN
1306        C  NaN  304.0                                 NaN
1307        C  NaN    NaN                                 NaN
1308        S  NaN    NaN                                 NaN
1309      NaN  NaN    NaN                                 NaN

[1310 rows x 14 columns]

In [4]:
#Reading the first five rows
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
#Total rows and columns in the dataset
data.shape

(1310, 14)

In [3]:
#Number of missing values per column
data.isnull().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [35]:
#ratio of men to women who have survived
S=len(data[(data.survived == 1)])
SF=(len(data[(data.survived == 1) & (data.sex=='female')]))
SM=len(data[(data.survived == 1) & (data.sex=='male')])
Ratio=SF/SM
print (Ratio)
#dat[(data.survived == 1.0 and data.sex == 'female')]

2.1055900621118013

### Conclusion
*For every men there are 2.1 women*